
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Free Cars-Online Website Template | Home :: w3layouts{% endblock %}</title>
    <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{asset('css/style2.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <!--slider-->
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/script.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/superfish.js')}}"></script>
  </head>
  <body>
    <div class="header-bg">
      <div class="wrap">
        <div class="h-bg">
          <div class="total">
            <div class="header">
              <div class="box_header_user_menu">
                <ul class="user_menu">
                  <li class="act first"><a href=""><div class="button-t"><span>Shipping &amp; Returns</span></div></a></li>
                  <li class=""><a href=""><div class="button-t"><span>Advanced Search</span></div></a></li>
                  <li class=""><a href="/registro"><div class="button-t"><span>Crear una cuenta</span></div></a></li>
                  {% if app.user %}
                    <li class="last"><a href="usuarios/logout"><div class="button-t"><span>Cerrar sesión</span></div></a></li>
                  {% else %}
                    <li class="last"><a href="usuarios/login"><div class="button-t"><span>Iniciar sesión</span></div></a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="header-right">
                <ul class="follow_icon">
                  <li><a href="#"><img src="{{asset('images/icon.png')}}" alt=""/></a></li>
                  <li><a href="#"><img src="{{asset('images/icon1.png')}}" alt=""/></a></li>
                  <li><a href="#"><img src="{{asset('images/icon2.png')}}" alt=""/></a></li>
                  <li><a href="#"><img src="{{asset('images/icon3.png')}}" alt=""/></a></li>
                </ul>
              </div>
              <div class="clear"></div>
              <div class="header-bot">
                <div class="logo">
                  <a href="index.html"><img src="{{asset('images/logo.png')}}" alt=""/></a>
                </div>
                <div class="search">
                  <input type="text" class="textbox" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                  <button class="gray-button">
                    <span>Search</span>
                  </button>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            {% block menu %}
            <div class="menu">
              <div class="top-nav">
                <ul>
                  {% set routeSelected = app.request.attributes.get('_route') %}
                  <li class="{% if routeSelected == 'index' %}active{% endif %}"><a href="/">Inicio</a></li>
                  <li class="{% if routeSelected == 'vehiculos' %}active{% endif %}"><a href="/vehiculos/page=1">Vehículos</a></li>
                  <li class="{% if routeSelected == 'personal' %}active{% endif %}"><a href="/personal">Área del usuario</a></li>
                  <li class="{% if routeSelected == 'contacto' %}active{% endif %}"><a href="/contacto">Contáctanos</a></li>
                </ul>
                <div class="clear"></div>
              </div>
            </div>
            {% endblock %}
            <div class="banner-top">
              <div class="header-bottom">
                {% block body01 %}
                <div class="header_bottom_right_images">
                </div>
                {% endblock %}
                {% block body02 %}
                <div class="header-para">
                </div>
                {% endblock %}
                {% block bodyClear %}
                <div class="clear"></div>
                {% endblock %}
                {% block footer %}
                <div class="footer-bottom">
                  <div class="copy">
                    <p>All rights Reserved</p>
                    <!--<p>All rights Reserved | Design by
                      <a href="http://w3layouts.com">W3Layouts</a>
                    </p>-->
                  </div>
                </div>
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
