{% extends "base.html.twig" %}

{% block title %}Área del usuario - Concesionario{% endblock %}

{% block body01 %}
<h1 class="h1_vehiculo">Área del usuario</h1>
<p class="p_normal"><a class="enlaceNormal" href="{{asset("/registro")}}">Crear usuario</a></p>

{% if is_granted('ROLE_ADMIN') %}
<p class="p_normal"><a class="enlaceNormal" href="{{asset("/admin/crearVehiculo")}}">Añadir vehiculo</a></p>
<h3 class="h3_vehiculo">Lista de vehículos:</h3>
  {% if vehiculos|length > 0 %}
  <ul>
    {% for vehiculo in vehiculos %}
      <li class="elementoLista">
        {{vehiculo.nombre}}<a class="enlaceLista" href="{{asset("/admin/modificarVehiculo/id="~vehiculo.id)}}">Modificar</a>
        <a class="enlaceLista" href="{{asset("/admin/eliminarVehiculo/id="~vehiculo.id)}}">Eliminar</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>-No hay ningún vehículo en la base de datos-</p>
  {% endif %}
{% endif %}

{% endblock %}
