{% extends "base.html.twig" %}

{% block title %}Vehículos - Concesionario{% endblock %}

{% block menu %}
  {{parent()}}
{% endblock %}
{% block body01 %}
  <div class="header_bottom_right_images">
    <div class="content-wrapper">
      <div class="content-top">
        <div class="about_wrapper">
          <h1>Vehiculos</h1>
        </div>
        <div class="text">
          {% for vehiculo in vehiculos %}
          <div class="grid_1_of_3 images_1_of_3">
            <div class="grid_1">
              <a href="/vehiculo/id={{vehiculo.id}}"><img src="{{asset(vehiculo.imagen)}}" title="continue reading" alt=""></a>
              <div class="grid_desc">
                <p class="title">{{vehiculo.nombre}}</p>
                <p class="descripcion_corta">{{vehiculo.descripcionCorta}}</p>
                <div class="price" style="height: 19px;">
                  <span class="reducedfrom">{{vehiculo.precio|number_format(2, ',', '.')}}€</span>
                  <span class="actual"></span>
                </div>
                <div class="cart-button">
                  <div class="cart">
                    <button class="button" src="{{asset(vehiculo.imagen)}}">
                      <span>Detalles</span>
                    </button>
                  </div>
                  <!--<button class="button">
                    <span>Cart</span>
                  </button>-->
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          {% endfor %}

          <div class="clear"></div>
        </div>
      </div>
      <!--<div class="content-top">
        <div class="box_wrapper">
          <h1>Featured Products</h1>
        </div>
        <div class="text">
          <div class="grid_1_of_3 images_1_of_3">
            <div class="grid_1">
              <a href="single.html"><img src="images/pic15.jpg" title="continue reading" alt=""></a>
              <div class="grid_desc">
                <p class="title">Lorem ipsum dolor sitconsectetuer adipiscing elit</p>
                <div class="price" style="height: 19px;">
                  <span class="reducedfrom">$66.00</span>
                  <span class="actual">$12.00</span>
                </div>
                <div class="cart-button">
                  <div class="cart">
                    <button class="button">
                      <span>Details</span>
                    </button>
                  </div>
                  <button class="button">
                    <span>Cart</span>
                  </button>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="grid_1_of_3 images_1_of_3">
            <div class="grid_1">
              <a href="single.html"><img src="images/pic16.jpg" title="continue reading" alt=""></a>
              <div class="grid_desc">
                <p class="title">Lorem ipsum dolor sitconsectetuer adipiscing elit</p>
                <div class="price" style="height: 19px;">
                  <span class="reducedfrom">$66.00</span>
                  <span class="actual">$12.00</span>
                </div>
                <div class="cart-button">
                  <div class="cart">
                    <button class="button">
                      <span>Details</span>
                    </button>
                  </div>
                  <button class="button">
                    <span>Cart</span>
                  </button>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="grid_1_of_3 images_1_of_3">
            <div class="grid_1">
              <a href="single.html"><img src="images/pic17.jpg" title="continue reading" alt=""></a>
              <div class="grid_desc">
                <p class="title">Lorem ipsum dolor sitconsectetuer adipiscing elit</p>
                <div class="price" style="height: 19px;">
                  <span class="reducedfrom">$66.00</span>
                  <span class="actual">$12.00</span>
                </div>
                <div class="cart-button">
                  <div class="cart">
                    <button class="button">
                      <span>Details</span>
                    </button>
                  </div>
                  <button class="button">
                    <span>Cart</span>
                  </button>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>-->
    </div>
    <div class="paging">
      <ul>
        {% set routeSelected = app.request.attributes.get('_route') %}
        {% if pagina > 1 %}<li><a href="/{{routeSelected}}/page={{pagina-1}}" target="_parent">Previous</a></li>{% endif %}
        <li><a href="/{{routeSelected}}/page=1" target="_parent">1</a></li>
        <li><a href="/{{routeSelected}}/page=2" target="_parent">2</a></li>
        <li><a href="/{{routeSelected}}/page=3" target="_parent">3</a></li>
        <li><a href="/{{routeSelected}}/page=4" target="_parent">4</a></li>
        <li><a href="/{{routeSelected}}/page=5" target="_parent">5</a></li>
        <li><a href="/{{routeSelected}}/page=6" target="_parent">6</a></li>
        <li><a href="/{{routeSelected}}/page={{pagina+1}}" target="_parent">Next</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block body02 %}
  <div class="header-para">
    <div class="categories">
      <div class="list-categories">
        <div class="first-list">
          <div class="div_2">
            <a href="">Cars</a>
          </div>
          <div class="div_img">
            <img src="{{asset("images/car1.jpg")}}" alt="Cars" title="Cars" width="60" height="39">
          </div>
          <div class="clear"></div>
        </div>
        <div class="first-list">
          <div class="div_2">
            <a href="">Rental</a>
          </div>
          <div class="div_img">
            <img src="{{asset("images/car2.jpg")}}" alt="Cars" title="Cars" width="60" height="39">
          </div>
          <div class="clear"></div>
        </div>
        <div class="first-list">
          <div class="div_2">
            <a href="">Banking</a>
          </div>
          <div class="div_img">
            <img src="{{asset("images/car3.jpg")}}" alt="Cars" title="Cars" width="60" height="39">
          </div>
          <div class="clear"></div>
        </div>
        <div class="first-list">
          <div class="div_2">
            <a href="">Trucks</a>
          </div>
          <div class="div_img">
            <img src="{{asset("images/car4.jpg")}}" alt="Cars" title="Cars" width="60" height="39">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!--<div class="box">
        <div class="box-heading">
          <h1><a href="#">Cart:&nbsp;</a></h1>
        </div>
        <div class="box-content">Now in your cart&nbsp;<strong>0 items</strong></div>
      </div>-->
      <div class="box-title">
        <h1>
          <span class="title-icon"></span>
          <a href="">Specials</a>
        </h1>
      </div>
      <div class="section group example">
        <div class="col_1_of_2 span_1_of_2">
          <img src="{{asset("images/pic21.jpg")}}" alt=""/>
          <img src="{{asset("images/pic24.jpg")}}" alt=""/>
          <img src="{{asset("images/pic25.jpg")}}" alt=""/>
          <img src="{{asset("images/pic27.jpg")}}" alt=""/>
        </div>
        <div class="col_1_of_2 span_1_of_2">
          <img src="{{asset("images/pic22.jpg")}}" alt=""/>
          <img src="{{asset("images/pic23.jpg")}}" alt=""/>
          <img src="{{asset("images/pic26.jpg")}}" alt=""/>
          <img src="{{asset("images/pic28.jpg")}}" alt=""/>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bodyClear %}
  {{parent()}}
{% endblock %}
{% block footer %}
  {{parent()}}
{% endblock %}
